
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, /*ul*/, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}






/*  ========================================
  Custom styles
  ========================================*/


body{
	margin: 0 20% 0 20%;
}



span img {
  border-radius: 50%;
  height: 130px;
  margin: 0 0 0 0;

}

.footerL {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

.footerR{
	display: inline-block;
}

.another {
  color: rgb(75, 101, 116);
  font-size: 14px;
  background-color: rgb(111, 140, 156);
  padding-bottom: 44px;
  padding-top: 44px;
}
.another small {
  float: left;
  font-weight: 400;
}



/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 5px solid #ff745e;
  float: left;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
  padding: 44px 0 22px 0;
  display: inline-block;
  margin-right: 20px;

